<!-- The order view -->
<div class="row" data-ng-controller="OrdersController" data-ng-init="findOne()">
	<h1>Order</h1>
	<h3>by {{ order.creator.fullName }} @ {{ order.createdAt | date: 'short' }}</h3>
	<!-- Show the editing buttons to the order creator -->
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Price</th>
				<th>Name</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in order.items">
				<td>{{ item.price | currency }}</td>
				<td>{{ item.name }}</td>
				<td style="cursor: pointer;">
					<span data-ng-click="removeFromOrder($index);" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="success">
				<td>Total</td>
				<td> {{ order.total | currency}}</td>
			</tr>
		</tfoot>
	</table>
	<div>
		<button class="btn-lg btn-success" data-ng-click="update();">update</button>
		<a href="#!/">
			<button class="btn-lg btn-info">back</button>
		</a>
	</div>
</div>