<!-- The order view -->
<section data-ng-include="'/../../example/views/header.client.view.html'"></section>
<section data-ng-controller="OrdersController" data-ng-init="findOne()">
	<h1>Order by {{ order.creator.fullName }} with a total of {{ order.total | currency:'EUR '}}</h1>
	<!-- Show the editing buttons to the order creator -->
	<table>
		<tr data-ng-repeat="item in order.items track by $index">
			<td>{{ item.name }}</td>
			<td>{{ item.price }}</td>
		</tr>
	</table>
	<div>
		<a href="/#!/orders/{{order._id}}/edit">edit</a>
		<a href="/#!/" data-ng-click="delete();">delete</a>
	</div>
</section>