<!-- The list items view -->
<div class="row" data-ng-controller="ItemsController" data-ng-init="find()">
	<h1>Items</h1>
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<!-- <th>Rank</th> -->
				<th>Price</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer;"
			data-ng-repeat="item in items | orderBy: 'price'"
			data-ng-click="addToOrder(item);">
				<td>{{ item.price | currency:'EUR ' }}</td>
				<td>{{ item.name }}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>