<!-- The edit user view -->
<div class="row col-md-12" data-ng-controller="UsersController" data-ng-init="findOne()">
	<h1>Edit User</h1>
	<!-- Show the editing buttons to the order creator -->
	<div class="form-group row col-md-4">
		<label for="firstName">first name</label>
		<input data-ng-model="user.firstName" type="text" class="form-control" id="firstName">
		<label for="lastName">last name</label>
		<input data-ng-model="user.lastName" type="text" class="form-control" id="lastName">
		<label for="userEmail">email</label>
		<input data-ng-model="user.email" type="text" class="form-control" id="userEmail">
		<label for="balance">balance</label>
		<input data-ng-model="user.balance" type="text" class="form-control" id="balance">
	</div>
	<div class="row col-md-12">
		<button class="btn-lg btn-success" data-ng-click="update();">update</button>
		<button class="btn-lg btn-danger" data-ng-click="delete();">delete</button>
		<a href="#!/">
			<button class="btn-lg btn-info">back</button>
		</a>
	</div>
</div>