<!-- The user view -->
<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<h1 data-ng-bind="user.title"></h1>
	<!-- Show the editing buttons to the user creator -->
	<div data-ng-show="authentication.user._id == user.creator._id">
		<a href="/#!/users/{{user._id}}/edit">edit</a>
		<a href="/#!/" data-ng-click="delete();">delete</a>
	</div>
	<small>
		<em>Posted on</em>
		<em data-ng-bind="user.created | date:'mediumDate'"></em>
		<em>by</em>
		<em data-ng-bind="user.creator.fullName"></em>
	</small>
	<p data-ng-bind="user.content"></p>
</section>