* {
  font-size: 23px;
  line-height: 2.3;
}

.btn-nameFilter {
  padding: 10px 20px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.well-success {
  background-color: #28a745;
  color: #fff;
}

.well-danger {
  background-color: #dc3545;
  color: #fff;
}

.well-warning {
  background-color: #ffff00;
  color: #000;
}

body {
  padding-top: 70px;
}
