* {
  font-size: 23px;
  line-height: 2.3;
}

.btn-nameFilter {
  padding: 10px 20px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.well > p {
  line-height: 1.8;
}

.well-default {
  background-color: #fff;
  color: #000;
}

.well-success {
  background-color: #5cb85c;
  color: #fff;
}

.well-warning {
  background-color: #f0ad4e;
  color: #fff;
}

.well-danger {
  background-color: #d9534f;
  color: #fff;
}

body {
  padding-top: 70px;
}
