<div data-ng-controller="OrdersController">
    Hey! I am
    <strong>covfefe</strong> the kitty of IDS/TKS. Please use me every time you purchase a drink. It's easy!
    <div data-ng-show="online" class="well well-sm text-center" data-ng-class="{'well-success': currentOrder.step == 4, 'well-danger': currentOrder.step == 5}">
        <ol class="list-inline">
            <li data-ng-show="currentOrder.step == 0">1. Filter your name
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </li>
            <li data-ng-show="currentOrder.step == 1">2. Select your name
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </li>
            <li data-ng-show="currentOrder.step == 2">3. Select your drink
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </li>
            <li data-ng-show="currentOrder.step == 3">4. Hit order
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </li>
            <li data-ng-show="currentOrder.step == 4">Wohooo you made it!
            </li>
            <li data-ng-show="currentOrder.step == 5">Don't you feel ashamed?
            </li>
        </ol>
    </div>
    <div data-ng-hide="online" class="well well-sm text-center well-warning">
        <ol class="list-inline">
            <li>
                <strong>covfefe</strong> is
            </li>
        </ol>
    </div>
    <!-- <div class="well well-sm text-center well-warning">
        <ol class="list-inline">
            <li>
                <strong>covfefe</strong> is in testing, keep on recording your actual purchases with good old pen and paper until
                we are live!
            </li>
        </ol>
    </div> -->
</div>