<!-- The example view -->
<div class="row" data-ng-controller="OrdersController">
    <h1 data-ng-if="currentOrder.creator._id">
        {{ currentOrder.creator.fullName }} {{currentOrder.creator.balance | currency}}
    </h1>

    <div class="col-md-4 col-s-6 col-xs-12" data-ng-if="!currentOrder.creator._id" data-ng-include="'/../../example/views/name-filter.client.view.html'"></div>

    <div class="col-md-4 col-s-6 col-xs-12" data-ng-if="currentOrder.creator._id" data-ng-include="'/../../orders/views/last-orders.client.view.html'"></div>

    <div class="col-md-4 col-s-6 col-xs-12" data-ng-if="!currentOrder.creator._id" data-ng-include="'/../../users/views/list-users.client.view.html'"></div>
    
    <div class="col-md-4 col-s-6 col-xs-12" data-ng-include="'/../../items/views/list-items.client.view.html'"></div>

    <div class="col-md-4 col-s-6 col-xs-12" data-ng-if="currentOrder.creator._id" data-ng-include="'/../../orders/views/current-order.client.view.html'"></div>
    
    <div data-ng-include="'/../../example/views/footer.client.view.html'"></div>
</div>

<!-- <div class="row col-md-12 col-s-12 col-xs-12" data-ng-controller="OrdersController">
    <div data-ng-if="currentOrder.creator._id" data-ng-include="'/../../orders/views/current-order.client.view.html'"></div>
</div> -->
