<!-- The example view -->
<section data-ng-include="'/../../example/views/header.client.view.html'"></section>
<a href="/#!/orders"><h1>List of Orders</h1></a>

<section data-ng-controller="ItemsController" data-ng-init="find()">
    <h1>Items</h1>
    <table>
        <tr data-ng-repeat="item in items" data-ng-click="addToOrder(item)">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
        </tr>
    </table>
</section>
<section data-ng-controller="UsersController" data-ng-init="find()">
    <h1>Users</h1>
    <table>
        <tr data-ng-repeat="user in users" data-ng-click="orderBy(user)">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
        </tr>
    </table>
</section>
<section data-ng-controller="OrdersController">
    <h1>Current Order by {{ currentOrder.creator.fullName }} with a total of {{ currentOrder.total | currency:'EUR '}}</h1>
    <!-- {{ currentOrder }} -->
    <button data-ng-click="create()">Order</button>
    <button data-ng-click="reset()">Reset</button>
    <table>
        <tr data-ng-repeat="item in currentOrder.items track by $index" data-ng-click="removeFromOrder($index)">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
        </tr>
    </table>
</section>