<div class="row" data-ng-controller="UsersController">
    <h1>Name Filter
    </h1>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('A');">A</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('B');">B</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('C');">C</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('D');">D</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('E');">E</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('F');">F</button>
    <br>
    <br>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('G');">G</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('H');">H</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('I');">I</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('J');">J</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('K');">K</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('L');">L</button>
    <br>
    <br>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('M');">M</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('N');">N</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('O');">O</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('P');">P</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('Q');">Q</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('R');">R</button>
    <br>
    <br>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('S');">S</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('T');">T</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('U');">U</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('V');">V</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('W');">W</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('X');">X</button>
    <br>
    <br>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('Y');">Y</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('Z');">Z</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('Ä');">Ä</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('Ö');">Ö</button>
    <button class="btn btn-default btn-nameFilter" data-ng-click="addLetter('Ü');">Ü</button>
    <button class="btn btn-danger btn-nameFilter" data-ng-click="removeLetter();">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
</div>