<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<a href="/#!/">
			<img src="/../../assets/images/icon/favicon-32x32.png" alt="Home">
		</a>
		covfefe
		<!-- Display flash messages  -->
		<% for(var i in messages) { %>
			<div class="flash">
				<%= messages[i] %>
			</div>
			<% } %>

				<div class="form-group" style="margin-top: 20px;">
					<!-- Render the signin form  -->
					<form class="form-group col-md-4" action="/signin" method="post">
						<div>
							<label>Email:</label>
							<input class="form-control" type="text" name="email" />
						</div>
						<div>
							<label>Password :</label>
							<input class="form-control" type="password" name="password" />
						</div>
						<div>
							<input class="btn btn-default" type="submit" value="Sign In" />
						</div>
					</form>
				</div>
	</div>
</body>

</html>